.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.shop {
    border: 5px solid slateblue;
    padding: 10px;
    margin: 15px;
    flex-basis: 25%;
    text-align: center;
    align-self: center;
}

header {
    text-align: center;
    padding: 15px;
    margin-bottom: 15px;
    
}